*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.intro.part-1 {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: aquamarine;
	clip-path: polygon(0.00% 47.34%, 0.00% 0.00%, 100.00% 0.00%, 100.00% 47.34%, 49.60% 36.81%, 49.60% 57.76%, 0.00% 47.34%);
	transition: 2s cubic-bezier(.42, 0, .45, 1.03);
}

@keyframes slide-out-1 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(-200px, -100%);
  }
}

.intro.part-1.slide-out-1 {
	animation: slide-out-1 2s;
	animation-fill-mode: forwards;
	
}

.intro.part-2 {
	position: absolute;
	width: 100%;
	min-height: 100%;
	background-color: aquamarine;
	clip-path: polygon(0.00% 100.00%, 0.00% 47.34%, 49.60% 57.76%, 49.60% 36.81%, 100.00% 47.34%, 100.00% 100.00%, 0.00% 100.00%);
}
	
@keyframes slide-out-2 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
	}
  100% {
    opacity: 1;
    transform: translate(200px, 100%);
	}
}

.intro.part-2.slide-out-2 {
	animation: slide-out-2 2s;
	animation-fill-mode: forwards;
}

#header {
	position: absolute;
	z-index: 1;
	width: 60%;
	height: 300px;
	background-color: #AF38FF;
}

#form {
	position: relative;
	width: 50%;
	min-height: 100px;
	background-color: antiquewhite;
	z-index: 2;
}

#result {
	position: relative;
	top: 0;
	width: 50%;
	height: 100px;
	z-index: 3;
}