@import url("webfonts/Courgette_Regular/stylesheet.css");
@import url("webfonts/Cinzel_Regular/stylesheet.css");

*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #131418;
}

main {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
	position: absolute;
	background-image: url("images/leaf.jpg");
	background-position: center;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-items: center;
	background-color: #2c303b;
	margin: 00px;
	max-width: 1920px;
}

@keyframes rotation {
	0% {
		transform: rotateZ(0deg) rotateX(0deg) rotateY(0deg);
	}
	50% {
		transform: rotateZ(180deg) rotateX(180deg) rotateY(180deg);
	}
	100% {
		transform: rotateZ(360deg) rotateX(360deg) rotateY(360deg);
	}
}

@keyframes rotation-2 {
	0% {
		transform: rotateX(0deg) rotateY(0deg);
	}
	50% {
		transform: rotateX(180deg) rotateY(180deg);
	}
	100% {
		transform: rotateX(360deg) rotateY(360deg);
	}
}

.question-mark {
	position: absolute;
	max-width: 20%;
	aspect-ratio: 1 / 1.5;
	height: auto;

}

.question-mark.part1 {
	left: 9%;
	animation: rotation-2 3s infinite;
}

.question-mark.part2 {
	right: 28%;
	animation: rotation 3s infinite;
}


/*
.intro.part1 {
	position: absolute;
	top: 00px;
	z-index: 6;
	width: 100vw;
	transition: 1s cubic-bezier(.42, 0, .45, 1.03);
}

@keyframes slide-out-1 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(-200px, -150%) scale(2.0);
  }
}

.intro.part1.slide-out-1 {
	animation: slide-out-1 2s;
	animation-fill-mode: forwards;
	
}
*/

/*
.intro.part2 {
	position: absolute;
	z-index: 6;
	width: 103vw;
	bottom: 18%;
	padding-right: 0px;
	right: -2%;
	transition: 1s cubic-bezier(.42, 0, .45, 1.03);
}
	
@keyframes slide-out-2 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
	}
  100% {
    opacity: 1;
    transform: translate(200px, 160%) scale(2.0);
	}
}

.intro.part2.slide-out-2 {
	animation: slide-out-2 2s;
	animation-fill-mode: forwards;
}
*/

/*
.text-start {
	position: absolute;
	z-index: 7;
	width: 44%;
	left: 4%;
	top: 49%;
}

@keyframes text-won {
	0% {
	position: absolute;
	z-index: 7;
	width: 44%;
	left: 4%;
	top: 49%;
	}
	50% {
	position: absolute;
	z-index: 7;
	width: 45%;
	left: 20%;
	top: 23%;
	transform: rotate(-53deg);
	}
  100% {
	position: absolute;
	z-index: 7;
	width: 45%;
	left: 26%;
	top: -69%;
	transform: rotate(-130deg);
	}
}

.text-end {
	animation: text-won 2s;
	animation-fill-mode: forwards;
}
*/



#form::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(180deg,rgba(255,255,255,0.00) 0%,rgba(255,0,0,0.00) 1.5%,rgba(112,221,255,1.00) 1.5%,rgba(112,234,255,1.00) 98.5%, rgba(255,255,255,0.00) 98.5%,rgba(255,0,0,0.00) 100%), linear-gradient(75deg, #48cf72 0%, #fedd40 100%);
	z-index: -1;
	filter: opacity(0.35);
	border-radius: 5px;
	backdrop-filter: blur(8px);
}

#form {
	grid-column: 2 / 4;
	position: relative;
	width: 80%;
	min-width: 250px;
	min-height: 461px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Cinzel Regular";
	font-size: 18px;
	text-align: center;
	padding-left: 0px;
	padding-right: 31%;
}


form input {
	height: 44px;
}
#form #polygonPoints {
	border-color: #D92E31;
	border-width: 0px;
}
#form #viewBoxWidth {
	border-width: 0px;
}
#form #viewBoxHeight {
	border-width: 0px;
	margin-top: 0px;
}
#form #button {
	border-width: 3px;
	border-color: rgba(255,112,114,0.68);
	font-family: "Cinzel Regular";
}

#form input {
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	border-style: solid;
	border-color: #FF2FB6;
	background-color: rgba(89,187,149,0.75);
	width: 66%;
}
#form label {
	margin-top: 0px;

}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

#result {

}

#result {
	display: grid;
	position: absolute;
	z-index: 7;
	background-color: aqua;
	width: 14%;
	filter: opacity(0.4);
	height: 60px;
	align-items: center;
	text-align: center;
	right: 30%;
	animation: float 5s infinite;
}


@media screen and (max-width:750px){
#result {
	position: relative;
	align-self: flex-end;
	grid-column: 2/4;
	align-self: center;
	justify-self: center;
	width: 53%;
	background-color: rgba(70,64,74,1.00);
	place-self: center;
	right: auto;
	left: auto;
}
#form {
	position: relative;
	padding-right: 0px;
	
}
#form input {
}
.question-mark.part1 {
	position: absolute;
	top: -40%;
}
.question-mark.part2 {
	right: auto;
	left: auto;
	max-width: 85%;
}
body {
	color: rgba(255,255,255,1.00);
}



	
}
