@import url("webfonts/Courgette_Regular/stylesheet.css");
@import url("webfonts/Cinzel_Regular/stylesheet.css");

*,
*::before,
*::after {
	margin: 0;
	box-sizing: border-box;
}

body {
	width: 100vw;
	height: 100vh;
	overflow: hidden;
	background-color: #131418;
}

main {
	display: grid;
	grid-template-columns: 1fr 2fr 2fr 1fr;
	position: absolute;
	background-image: url("images/leaf.jpg");
	background-position: center;
	width: 100%;
	height: 100%;
	align-items: center;
	justify-items: center;
	background-color: #2c303b;
	margin: 00px;
	max-width: 1920px;
}

/*
.intro.part1 {
	position: absolute;
	top: 00px;
	z-index: 6;
	width: 100vw;
	transition: 1s cubic-bezier(.42, 0, .45, 1.03);
}

@keyframes slide-out-1 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
  }
  100% {
    opacity: 1;
    transform: translate(-200px, -150%) scale(2.0);
  }
}

.intro.part1.slide-out-1 {
	animation: slide-out-1 2s;
	animation-fill-mode: forwards;
	
}
*/

/*
.intro.part2 {
	position: absolute;
	z-index: 6;
	width: 103vw;
	bottom: 18%;
	padding-right: 0px;
	right: -2%;
	transition: 1s cubic-bezier(.42, 0, .45, 1.03);
}
	
@keyframes slide-out-2 {
  0% {
    opacity: 1;
    transform: translate(0, 0);
	}
  100% {
    opacity: 1;
    transform: translate(200px, 160%) scale(2.0);
	}
}

.intro.part2.slide-out-2 {
	animation: slide-out-2 2s;
	animation-fill-mode: forwards;
}
*/

/*
.text-start {
	position: absolute;
	z-index: 7;
	width: 44%;
	left: 4%;
	top: 49%;
}

@keyframes text-won {
	0% {
	position: absolute;
	z-index: 7;
	width: 44%;
	left: 4%;
	top: 49%;
	}
	50% {
	position: absolute;
	z-index: 7;
	width: 45%;
	left: 20%;
	top: 23%;
	transform: rotate(-53deg);
	}
  100% {
	position: absolute;
	z-index: 7;
	width: 45%;
	left: 26%;
	top: -69%;
	transform: rotate(-130deg);
	}
}

.text-end {
	animation: text-won 2s;
	animation-fill-mode: forwards;
}
*/

#form::before {
	position: absolute;
	content: "";
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-image: linear-gradient(180deg,rgba(255,255,255,0.00) 0%,rgba(255,0,0,0.00) 1.5%,rgba(112,221,255,1.00) 1.5%,rgba(112,234,255,1.00) 98.5%, rgba(255,255,255,0.00) 98.5%,rgba(255,0,0,0.00) 100%), linear-gradient(75deg, #48cf72 0%, #fedd40 100%);
	z-index: -1;
	filter: opacity(0.35);
	border-radius: 5px;
	backdrop-filter: blur(8px);
}

#form {
	grid-column: 2 / 4;
	position: relative;
	width: 50%;
	min-width: 200px;
	min-height: 439px;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-family: "Cinzel Regular";
	font-size: 18px;
}

form input {
	height: 44px;
}
#form #polygonPoints {
	width: 95%;
	border-color: #D92E31;
	border-width: 0px;
}
#form #viewBoxWidth {
	width: 89%;
	border-width: 0px;
}
#form #viewBoxHeight {
	width: 76%;
	border-width: 0px;
	margin-top: 0px;
}
#form #button {
	width: 55%;
	border-width: 3px;
}

#form input {
	width: 72%;
	-webkit-box-shadow: 0px 0px;
	box-shadow: 0px 0px;
	border-style: solid;
	border-color: #FF2FB6;
	background-color: rgba(89,187,149,0.75);
}
#form label {

}

#result {
	transform: translateX(100%);
	transition: 3s cubic-bezier(.7, .09, .41, .99);

}

#result.wjazd {
	display: grid;
	align-items: center;
	text-align: center;
	position: relative;
	transform: translateX(0);
	
}
